.not-found{
    @include wrap;
    @include center();

    min-height: 100vh;

    h1{
        text-align: center;
        color: #ccc;
        font-weight: 900;
        letter-spacing: 3px;
        white-space: nowrap;
        font-size: 6vw;
    }
}